
<!DOCTYPE html>
<html>
	<head>
		<title>H.Song's Page</title>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css">
        <link href="../static/css/mypage.css" rel="stylesheet">
	</head>
    
	<body>
        <header>
		<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                
				<div class="navbar-brand active" data-target="#carousel-generic" data-slide-to="0" style="color: white;">Hongyu Song</div>
  		    </div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li data-target="#carousel-generic" data-slide-to="0"><a href="#">About</a></li>
					<li data-target="#carousel-generic" data-slide-to="1"><a href="#">Experiments</a></li>
					<li data-target="#carousel-generic" data-slide-to="2"><a href="#">Blog</a></li>
				</ul>
                
                <!-- Search
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form> -->
                
				<ul class="nav navbar-nav pull-right">
                    <li><a class="fa fa-linkedin-square fa-3x fa-fw" href="http://www.linkedin.com/in/hongyusong"></a></li>
                    <li><a class="fa fa-github-square fa-3x fa-fw" href="https://github.com/strollhy"></a></li>
                    <li><a class="fa fa-envelope fa-3x" href="mailto:hsong22@hawk.iit.edu"></a></li>
                    <!-- dropdown
                    <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li> -->
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.navbar -->
        </header>
				
		<!-- Content -->
		<div class="container-fluid">
			<div id="carousel-generic" class="carousel-fluid slide" data-ride="carousel" data-interval="false">
				<!-- Indicators 
				<ol class="carousel-indicators">
					<li data-target="#carousel-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-generic" data-slide-to="1"></li>
					<li data-target="#carousel-generic" data-slide-to="2"></li>
				</ol>-->
				
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item one active">
						<div class="carousel-caption">
                            <h2>About me <a href="../static/file/Resume.pdf" target="_blank">(Resume)</a></h2>
                            
                            <p>I'm Master student in Illinois Institute of Technology <br>Five years' programmer, thirsty for new technologies and creative ideas</p>
                            <br>
                            <h2>Highlight</h2>
                            <p> 
Highly self-motivated, analytically minded, troubleshooting skills, cooperative
& communication skills.</p>
							<br>
							<h2>Skills</h2>
                            <p>Python, Java, Cloud, Web programming</p>
							
                        </div>
					</div>
						
					<div class="item two">
                        <div class="carousel-caption">
                            <h2>Experiments</h2>
							<br>
                        </div>
						
						<!-- Thumbnails -->
						<div class="row_main">
							<div class="row">
								<div class="col-sm-3">
									<a href="/PingPong" class="thumbnail">
										<img src="../static/img/android.jpg" >
									</a>
									<div class="caption">
										<h4>Ping Pong </h4>
										<p>A classic Ping Pong game on web. Planning to make it more interesting.</p>
									</div>
								</div>
									
								<div class="col-sm-3">
									<a href="#" class="thumbnail">
										<img src="../static/img/android.jpg">
									</a>
									<div class="caption">
										<h4>Voxel World </h4>
										<p>Voxel World based on Pygame+OpenGL, now I'm starting moving to WebGL.</p>
									</div>
								</div>								
								
								<div class="col-sm-3">
									<a href="http://www.deadlinemaster.appspot.com" class="thumbnail" target="_blank">
										<img src="../static/img/android.jpg">
									</a>
									<div class="caption">
										<h4>Deadline Master </h4>
										<p>A Google App Engine based web 
application that uses colored timelines to help managing due 
dates.</p>
									</div>
								</div>
								
								<div class="col-sm-3">
									<a href="http://www.kasa-game.appspot.com" class="thumbnail" target="_blank">
										<img src="../static/img/android.jpg">
									</a>
									<div class="caption">
										<h4>Kasa Game</h4>
										<p>An UNO-like card 
game. Built up a web app version on MonkeyBars Hackathon.</p>
									</div>
								</div>
								
								<div class="col-sm-3">
									<a href="http://www.kasa-game.appspot.com" class="thumbnail" target="_blank">
										<img src="../static/img/android.jpg">
									</a>
									<div class="caption">
										<h4>Course Explorer</h4>
										<p>A light-weighted Chrome extension that helps IIT students search courses' discriptions.</p>
									</div>
								</div>
							</div><!-- /.row -->
							
							<!-- ------------------------ -->
							<div class="row">
								<div class="col-sm-3">
									<a href="https://github.com/strollhy/CloudKMap" target="_blank" class="thumbnail">
										<img src="../static/img/android.jpg">
									</a>
									<div class="caption">
										<h4>CloudKMap</h4>
										<p>Course project. <br>A Cloud based task scheduler that supports MapReduce 
applications using Amazon Web Services.</p>
									</div>
								</div>
								
								<div class="col-sm-3">
									<a href="#" class="thumbnail">
										<img src="../static/img/android.jpg">
									</a>
									<div class="caption">
										<h4>Social Network Measurer</h4>
										<p>Course project.<br> A Facebook app that 
scores one’s network using naive benchmark. 
</p>
									</div>
								</div>
								
								<div class="col-sm-3">
									<a href="#" class="thumbnail">
										<img src="../static/img/android.jpg">
									</a>
									<div class="caption">
										<h4>Compressed Domain Based Motion Detection</h4>
										<p>Graduation 
project.<br>A desktop application that detects moving objects in 
compressed video.</p>
									</div>
								</div>
							</div>
						</div><!-- /.row -->
                    </div><!-- /.Experiments -->
					
	                <div class="item three">
                        <div class="carousel-caption">
                            <h2>Blog</h2>
                            <p>Under construction...</p>
                        </div>
					</div><!-- /.Blog -->
				</div><!-- /.carousel-inner -->
			</div>
		</div> <!-- /.container-fluid -->
		
		<!-- footer -->
        <footer class="bs-footer">
            <div class="container">
                <p>© 2014 H.S</p>
            </div>
        </footer>
        
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="../static/js/bootstrap.js"></script>
	</body>
</html>