<html>
    <head>
		<link href="../static/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/font-awesome/css/font-awesome.css">
        <link href="../static/css/mypage.css" rel="stylesheet">
		<style>
			body {
				background: url(../static/img/background-imager/Elegant_Background-8.jpg) no-repeat center center fixed;
			}
		</style>
	</head>
    
    <body>
	 	<header>
		<div class="navbar navbar-default navbar-fixed-top navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                
				<div class="navbar-brand active">Ping Pong</div>
  		    </div>
		</div><!-- /.navbar -->
        </header>
		
		
		<canvas id="canvas-pong" class="canvas-pong"></canvas>
		
		<script src="../static/js/pong-core.js"></script>
		
		<!-- footer -->
        <footer class="bs-footer">
            <div class="container">
                <p>© 2014 H.S, W.B</p>
            </div>
        </footer>
    </body>
</html>